html, body {
    width: 100%;
    background-color: #FAFAFA;
    overflow: hidden;
}

.font-ant {
    -webkit-font-smoothing: antialiased;
}

a {
    color: #2196f3;
    text-decoration: none;
}

a:hover {
    color: #1976d2;
}

.color-btn-primary {
    color: #757575 !important;
}

.color-text-white-primary {
    color: rgba(255, 255, 255, 1) !important;
}

.color-text-block-primary {
    color: rgba(0, 0, 0, 0.87) !important;
}

.color-text-white-second {
    color: rgba(255, 255, 255, 0.87) !important;
}

.color-text-block-second {
    color: rgba(0, 0, 0, 0.54) !important;
}

.menu-dialog-visible {
    overflow: visible !important;
}

.a-none {
    text-decoration: none;
}

.a-none a {
    text-decoration: none;
}

.inner-a-color-inherit a {
    color: inherit;
}

.scroll-bar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

.mini-button {
    min-width: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.least-button {
    min-width: 32px;
    padding: 0px 0px;
    line-height: unset;
    height: unset;
}

.no-padding-button {
    min-width: 32px;
    padding: 0px;
    line-height: unset;
    height: unset;
}

.translation-all-3 {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.translation-all-1_5 {
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.flex-center {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.mdl-menu li a {
    text-decoration: none;
    color: unset;
}

.shadow--1dp {
    box-shadow:0px 1px 2px rgba(0, 0, 0, .2);
}

.hover-shadow--2dp,
.hover-shadow--3dp,
.hover-shadow--4dp,
.hover-shadow--6dp {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -ms-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.hover-shadow--2dp:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.hover-shadow--3dp:hover {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.hover-shadow--4dp:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.hover-shadow--6dp:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.hover--margin-top-3px,
.hover--margin-top-2px,
.hover--margin-top-1px {
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}

.hover--margin-top-1px:hover {
    transform: translateY(-1px);
}

.hover--margin-top-2px:hover {
    transform: translateY(-2px);
}

.hover--margin-top-3px:hover {
    transform: translateY(-3px);
}

/*遮挡了子元素的z-index*/
.mdl-card {
    z-index: unset;
}


/**anim a underline*/

.anim-line {
    position: relative;
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.anim-line:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px;
    left: 0;
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.anim-line:hover:before {
    width: 100%;
}


.anim-line-inner-a > a {
    position: relative;
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.anim-line-inner-a > a:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px;
    left: 0;
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.anim-line-inner-a > a:hover {
    color: #2196F3;
}

.anim-line-inner-a > a:hover:before {
    width: 100%;
}

.anim-avator {
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}

.anim-avator:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.ds-avatar img, .ds-avatar img:hover {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}


@-webkit-keyframes swing {
    20%, 40%, 60%, 80%, 100% {
        -webkit-transform-origin: top center;
    }
    20% {
        -webkit-transform: rotate(15deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
    }
    60% {
        -webkit-transform: rotate(5deg);
    }
    80% {
        -webkit-transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.ds-avatar img:hover {
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
}

/***********************/
header {
    display: flex;
    z-index: 4;
    position: fixed;
    top: 0px;
    height: 64px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 0 28px 0 8px;
    transition: all 0.2s;
}

.main-header-close {
    top: -70px;
}

.my-drawer-button {
    display: block;
    height: 48px;
    width: 48px;
    border: 0;
    -webkit-flex-shrink: 0;
    outline: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 56px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 8px 12px;
    z-index: 4;
}

@media screen and (min-width: 1025px) {
    .my-drawer-button {
        line-height: 54px;
    }
}

@media screen and (max-width: 1024px) {
    .my-drawer-button {
        margin: 4px;
    }

    header {
        height: 56px;
        padding: 0 16px 0 8px;
    }
}

/*page-content*/
.mdl-layout {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mdl-layout * {
    /*opacity: 0.98;*/
}

.mdl-layout__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*overflow: hidden;*/
}

.page-content {
    box-sizing: border-box;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 150px 0 0 0;
    flex: 1 0 auto;
    align-content: flex-start;
    justify-content: center;
}

.empty-content {
    text-align: center;
    font-size: 16px;
    padding: 32px;
    color: black;
    min-height: max-content !important;
}

.page-content-type1 {
    max-width: 940px !important;
}

.post-card {
    height: max-content;
}

.post-card .mdl-card__supporting-text {
    width: 100%;
    box-sizing: border-box;
}

.page-content > .mdl-card:not(.head-card-right,.head-card-left) {
    height: max-content;
}

.page-content .mdl-card {
    min-height: 100px;
}

.page-content .mdl-card .mdl-card__actions {
    padding: 16px;
}

.head-card-left, .head-card-right {
    height: 400px;
}

.head-card-left .mdl-card__title,
.head-card-right .mdl-card__title {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 500;
    background-position: center;
}

.head-card-left h2,
.head-card-right h2 {
    font-weight: 500;
}

.head-card-left .mdl-menu a,
.head-card-right .mdl-menu a {
    width: 100%;
    display: block;
    height: 100%;;
}


.avator-wrapper, .action-wrapper {
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 400;
    position: relative;
}

.action-wrapper a {
    font-size: 14px;
}

.action-wrapper > a {
    padding: 8px 8px;
}

.card-head-img {
    width: 100%;
    height: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.has-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.card-text-wrapper {
    display: block;
    align-self: flex-end;
    margin: 0px;
    padding: 0px;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

.post-card .mdl-card__title:not(.has-image) {
    padding-bottom: 0;
}

.card-text-wrapper .mdl-card__title-text a {
    color: #3c4858;
}

.card-text-wrapper time,
.card-text-wrapper .post-meta2 {
    color: rgba(60, 72, 88, 1);
}

.has-image .card-text-wrapper {
    margin: -16px;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.25);
}

.has-image .card-text-wrapper .mdl-card__title-text a {
    color: rgba(255, 255, 255, 1);

}

.has-image .card-text-wrapper .post-meta2,
.has-image .card-text-wrapper time {
    color: rgba(255, 255, 255, 0.87);
}

.tag-wrapper {
    font-size: 14px;
    line-height: 24px;
    margin-top: 32px;
}

.tag-wrapper > a {
    border-radius: 13px;
    padding: 0 8px;
    font-weight: 400;
    font-size: 12px;
    margin-right: 4px;
    margin-top: 4px;
    opacity: 0.9;

}

.article-category {
    padding-left: 8px;
}

.avator-wrapper img {
    display: inline-block;
    width: 40px;
    margin-right: 16px;
    height: 40px;
    border-radius: 50%;
}

.head-card-right .mdl-card__actions .mdl-menu__container {
    right: 16px;
}

.head-card-right .mdl-card__menu {
    right: 0;
    top: unset;
    bottom: 88px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.head-card-right .mdl-card__menu .label-item {
    display: flex;
    padding: 4px 16px;
    background-color: white;
    color: #8d6e63;
    margin-bottom: 8px;
    position: relative;
    border-radius: 16px 0 0 16px;
    font-size: 20px;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.2);
}

.head-card-right .mdl-card__menu .label-item:hover {
    background-color: #efebe9;
}

.head-card-right .mdl-card__menu .label-item-desc {
    font-size: 13px;
    font-weight: 200;
    margin-left: 4px;
}

/*post card*/
.post-card .mdl-card__title .mdl-card__title-text {
    font-weight: 400;
}

.post-card .post-meta {
    position: relative;
    font-size: 14px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid gainsboro;
}


/*article-content*/
.article-content {
    color: #3c4858;
    padding: 0 8px 0px 8px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.article-content * {
    font-size: 14px;
    color: #3c4858;
}

.article-content p {
    font-weight: 400;
}

.article-content p:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    padding-bottom: 2px;
    position: relative;
}

.article-content h1:hover:before,
.article-content h2:hover:before,
.article-content h3:hover:before,
.article-content h4:hover:before,
.article-content h5:hover:before,
.article-content h6:hover:before {
    content: '#';
    width: 16px;
    position: absolute;
    left: -16px;
    top: 0;
    overflow: hidden;
    transition: all 0.3s;

    color: #0D5796;
}

.article-content hr {
    background-color: transparent;
    margin: 16px 0;
    border-top: dashed #bbdefb 2px;
}

.article-content p code {
    padding: 1px 3px;
    margin: 0 2px;
    border-radius: 3px;
    background-color: #e3f2fd;
    color: #2196F3;
}

.article-content a {
    color: #2196f3;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.article-content a:hover {
    color: #1976d2;
    /*padding-left: 4px;*/
    padding-left: 4px;
}

.article-content .table-wrap {
    overflow-x: auto;
    max-width: 100%;
    text-align: center;
}

.article-content table {
    border: 1px solid #42a5f5;
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    margin: 20px 0;
    empty-cells: show;
}

.article-content table thead th {
    background-color: #42a5f5;
    color: white;
}

.article-content table thead th,
.article-content table td {
    padding: 10px 12px;
}

.article-content table td {
    border: 1px solid #dedede;
    text-align: left;
}

table tbody tr:nth-child(2n) {
    background: rgba(227, 242, 253, 0.5);
}

table tr:hover {
    background: rgba(227, 242, 253, 1) !important;
}


.article-content img {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 100%;
    cursor: pointer;
    transition: all 0.3s;
}

.article-content a img {
    display: unset;
}

.article-content img.show {
    position: fixed;
    cursor: pointer;
    z-index: 9999;
    margin: auto;
    transition: all 0.3s;
    width: auto;
    max-width: 95%;
    max-height: 95%;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
}


.article-content blockquote {
    font-style: normal;
    margin-left: 0px;
    margin-right: 0;
    padding: 0px 0px 0px 16px;
    border-left: 4px solid #DFE2E5;
    color: rgba(0, 0, 0, 0.54);
}

blockquote:before, blockquote:after {
    content: none;
}


/*post-near*/
.post-near {
    margin-top: 32px;
    display: flex;
    box-sizing: border-box;
    list-style: none;
    padding: 0 8px;
    font-size: 14px;
    width: 100%;
    align-items: stretch;
}

.post-near li {
    display: flex;
    flex-direction: column;
    max-width: 48%;
}

.post-near li,
.post-near li a {
    text-decoration: none;
    color: #757575;
}

.post-near li a {
    margin-top: -24px;
    padding-top: 24px;
}

.post-near .enabled {
    cursor: pointer;
}

.post-near .enabled:hover,
.post-near .enabled:hover a {
    color: #1976d2;
}

.post-near .right {
    text-align: right;
    margin-left: auto;
}

/*index-navigator*/
.page-navigator {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 16px;
    overflow: hidden;
    margin-top: 32px;
    box-sizing: border-box;
    align-self: center;
    justify-content: center;

}

.page-navigator li a {
    display: block;
    text-align: center;
    line-height: 32px;
    min-width: 24px;
    padding: 0 4px;
    margin: 0 0px;
    border-radius: 2px;
    height: 32px;
    color: #747474;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.page-navigator li a .material-icons {
    line-height: 32px;
}


.page-navigator li:not(.more):not(.current) a:hover {
    background-color: #eaeaea;
}

.page-navigator .current a {
    background-color: #747474;
    color: white;
}

/*breadcrumb*/
.breadcrumb {
    position: relative;
    height: 45px;
    min-height: unset;
    background: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    padding: 12px 16px;
}

.breadcrumb > .right-box {
    position: relative;
    margin-left: auto;
    margin-top: -12px;
    margin-bottom: -12px;
    color: rgba(0, 0, 0, 0.54);
}

.breadcrumb > a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.breadcrumb > a .material-icons {
    margin-right: 4px;
    font-size: 20px;
}


.breadcrumb a:not(:first-child) {
    color: rgba(0, 0, 0, 0.54);
}

.breadcrumb a:not(:first-child):before {
    padding: 0 5px;
    color: rgba(0, 0, 0, 0.54);
    content: "/\00a0";
}


/*drawer*/

.mdl-layout__drawer {
    width: 280px;
    transition: ease-out transform 0.15s;
    -webkit-transform: translateX(-290px);
    transform: translateX(-290px);
    border: none;
}

#close-drawer {
    position: absolute;
    top: 32px;
    right: 16px;
}

.nav-header {
    width: 100%;
    min-height: 170px;
    height: auto;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.nav-header > .drawer-avator {
    width: 50px;
    margin-left: 16px;
    overflow: hidden;
    margin-top: 40px;
    height: 50px;
    border-radius: 50%;
}

.nav-header .author {
    font-size: 16px;
    padding: 16px 16px 8px;
    color: white;
}

.nav-header .desc {
    padding: 0px 16px 16px 16px;
    color: whitesmoke;
}

/*menu-list*/
.menu-list ul {
    padding-left: 0px;
    width: 100%;
}

.menu-list li {
    list-style: none;
    color: rgba(0, 0, 0, 0.87);
}

.menu-list .menu-divider {
    margin: 5px 16px 5px 16px;
    height: 1px;
    border: none;
    background-color: rgb(224, 224, 224);
}

.menu-list li a {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    padding: 16px;
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    user-select: none;
    -webkit-transition: all 0.2s;
}

.menu-list .menu-sub-list a {
    padding: 14px 16px;
}

.menu-list li a:hover {
    background: #e0e0e0;
    color: #2196f3 !important;
}

.menu-list li.open > a,
.menu-list li a .menu-switch:hover,
.menu-list li a .menu-right-btn:hover {
    color: #2196f3 !important;
}

.menu-list li.open > a > .menu-right-btn {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.menu-list li.open > a .count,
.menu-list li a:hover .count {
    background-color: #2196f3 !important;
}

.menu-list .menu-right-btn {
    margin-left: auto;
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s;
    background: none;
}

.menu-list li a .material-icons {
    margin-right: 32px;
    width: 24px;
    height: 24px;
    color: #757575;
}

.menu-list li a .material-icons {
    color: inherit;
}


.menu-list .menu-switch {
    cursor: pointer;
}

.menu-list .menu-sub-list {
    display: none;
}

.menu-list .menu-sub-list a {
    color: #757575;
    display: flex;
    align-items: center;
}

.menu-list .menu-sub-list .count {
    padding: 0px 8px;
    color: white !important;
    display: block;
    background: #878787;
    border-radius: 12px;
}

.menu-list .menu-archive .count {
    margin-left: auto;
    margin-right: 4px;
}

.menu-list .menu-category .count {
    margin-right: 4px;
    margin-left: auto;
}

.menu-list .open {
    background-color: #EBEBEB;
}

/*end drawer*/


/*comment*/
.comment-input-form {
    width: 100%;
    padding: 0px 0;
}

.comment-input-form .input-group {
    width: 100%;
    font-weight: 400;
    display: flex;
    align-items: center;
}

/*.comment-input-form .input-group-3 input{*/
/*width: 33.3333%;*/
/*}*/

/*#comments .input-group input{*/
/*display: block;*/
/*outline: none;*/
/*box-sizing: border-box;*/
/*padding: 8px;*/
/*font-size: 15px;*/
/*background: none;*/
/*border-top: none;*/
/*border-right: none;*/
/*border-left: none;*/
/*border-bottom: 1px solid #dedede;*/
/*}*/

/*#comments .input-group input:*/

#comments {
    -webkit-font-smoothing: antialiased;
}

#comments .comment-list {
    list-style: none;
    padding-left: 0px;
}

#comments .comment-children {
    padding-left: 32px;
}

#comments .comment-body {
    position: relative;
}

#comments .comment-children .comment-children {
    padding-left: 0px;
}

#comments .avatar {
    /*border-radius: 50%;*/
    box-shadow: 1px 1px 2px #aaaaaa;
    border-radius: 2px;
}

#comments .comment-author {
    display: flex;
    align-items: center;
    position: relative;
}

#comments .comment-author .author-time-w {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 16px;
    align-items: stretch;
}

#comments .comment-time {
    margin-top: -4px;
}

#comments .fn a {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

#comments .fn a:hover {
    color: #1976d2;
}

#comments .comment-time a {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

#comments .comment-content {
    padding: 24px 0px 10px 56px;
    overflow: hidden;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    word-break: break-all;
}

#comments .comment-meta {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

#comments .comment-reply {
    /*display: block;*/
    /*margin-left: 8px;*/
    visibility: visible;
    position: absolute;
    right: 0;
    top: 0;
}

#comments .comment-body:hover > div:not(.comment-children) .comment-reply {
    visibility: visible;
}

#comments .cancel-comment-reply a,
#comments .comment-reply a {
    text-decoration: none;
    /*color: #757575;*/
    display: block;
    padding: 0 4px;
    box-sizing: border-box;
    transition: color ease 0.3s;
    width: 100%;
    height: 100%;
}

#comments .cancel-comment-reply a:hover,
#comments .comment-reply a:hover {
    color: #2196F3;
}

#comments .comment-form-title-w {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#comments #response {
    line-height: 24px;
    margin: 16px 0;
}

#comments .cancel-comment-reply {
    margin-left: 8px;
}

#comments .respond {
    margin-bottom: 32px;
}

#comments .reply-author {
    text-decoration: none;
    float: left;
    margin-right: 4px;
}

.sidebar-card-title {
    font-size: 16px;
    color: rgba(60, 72, 88, 1);
    font-weight: 400;
}


.sidebar-item-title {
    overflow: hidden;
    font-size: 14px
}

.sidebar-item-desc {
    overflow: hidden;
    white-space: nowrap;
    color: rgba(60, 72, 88, 0.8);
    font-size: 14px;
    text-overflow: ellipsis;
}

.sidebar-item:hover * {
    color: rgba(60, 72, 88, 1);
}

/*.comment-recent*/
.comment-recent {
    padding: 16px;
    list-style: none;
}

.comment-recent li:not(:first-child) {
    margin-top: 8px;
}

.comment-recent li {
    display: flex;
}

.comment-recent li a {
    text-decoration: none;
    color: rgba(60, 72, 88, 0.8);
}

.comment-recent .item-avator {
    margin-top: 6px;
}

.comment-recent .item-link:hover {
    color: rgba(60, 72, 88, 1);
}

.comment-recent li img {
    border-radius: 50%;
}

.comment-avatar-w img {
    width: 40px;
    height: 40px;
}

/*tag-cloud*/
.tag-cloud {
    padding: 8px 16px 16px 16px;
    list-style: none;
}

.tag-cloud li {
    float: left;
    display: block;
    margin-right: 8px;
    margin-top: 8px;
    font-weight: 400;
}

.tag-cloud li a {
    outline: none;
    text-decoration: none;
    padding: 1px 8px;
    display: block;
    border-radius: 13px;
    color: white;
    box-sizing: border-box;
}

/*rss*/
.RSS-w {
    height: auto;
    width: 100%;
    padding: 16px;
    font-size: 13px;
    word-break: break-all;
    box-sizing: border-box;
    color: rgba(60, 72, 88, 1);
    line-height: 23px;
}

.RSS-w img {
    max-width: 100%;
    margin: 0 auto;
}


/*article-title-list*/
.article-title-list-w {
    position: -webkit-sticky;
    position: sticky;
    margin-top: 8px;
    top: 0;
    padding: 168px 0 0 8px;
    height: 300px;
}

.article-title-list {
    width: 100%;
    height: auto;
    max-width: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

.article-title-list a {
    display: block;
    font-weight: 400;
    color: #727272;
    text-decoration: none;
    padding: 4px 16px;
    word-break: break-all;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 0.5s;
    -webkit-font-smoothing: antialiased;
}

.article-title-list a:hover {
    background-color: #e8eaf6;
}

.article-title-list .current {
    background-color: #e8eaf6;
    border-left: 3px solid #5c6bc0;
}

.article-title-list ul {
    list-style: none;
    padding-left: 16px;
}

.article-title-list .index-menu > ul {
    padding-left: 0;
}

.article-title-list .index-menu-list .index-menu-list {
    display: none;
}


/*links*/
.links-ul {
    padding: 0;
    margin: 16px -4px;
}

.links-ul li {
    width: 33.3333%;
    padding: 6px 4px;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
    float: left;
    outline: none;
}

.links-ul a {
    outline: none;
    width: 100%;
    transition: all 0.2s;
    display: block;
    border-radius: 16px;
    height: 32px;
    box-sizing: border-box;
}

.links-ul a:hover,
.links-ul a:active {
    background-color: #CECECE;
}

.links-ul img {
    height: 32px;
    margin: 0;
    width: 32px;
    border-radius: 16px;
}

.links-ul .name-w {
    float: left;
    width: calc(100% - 8px);
    display: flex;
    align-items: center;
}

.links-ul .name {
    user-select: auto;
    padding: 0 2px 0 6px;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    overflow: hidden;
}

.links-ul .material-icons {
    float: right;
    border-radius: 50%;
    margin-top: 4px;
    background-color: #bbdefb;
    margin-right: 4px;
    color: white;
}

.links-ul .mdl-tooltip {
    color: white;
    word-break: break-all;
    font-size: 13px;
}

/*submit loading*/
@keyframes rotating {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

.submit-loading {
    animation: rotating 1.2s linear infinite
}

.avator-bg {
    position: absolute;
    right: 0;
    margin-right: 16px;
    width: 46px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-left: 16px;
    transition: all 0.5s;
    opacity: 0.1;
}

#show-image {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

#show-image .inner-flex {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#show-image img {
    cursor: pointer;
    margin: auto;
    transition: all 0.3s;
    max-width: 95%;
    max-height: 95%;
    height: auto;
}

/*footer*/
#footer {
    margin-top: 64px;
    position: relative;
    background: white;
    box-sizing: border-box;
    padding: 32px 16px;
    width: 100%;
    flex-shrink: 0;
}

.footer-w {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.footer-left,
.footer-right,
.footer-center {
    padding: 8px 8px;

    word-break: break-word;
}

.footer-left > a.mdl-button {
    margin-right: 8px;
}

.footer-left > a.mdl-button img {
    width: 24px;
    height: 24px;
}

/*to_top*/
#to_top {
    position: absolute;
    z-index: 999;
    top: -20px;
    right: 32px;
    transition: all 0.3s;
}

#to_top.fixed {
    position: fixed;
    top: unset;
    bottom: 48px;
}

#to_top.hide {
    transform: translateX(96px) rotateZ(90deg);
}

/*music*/
#music-panel {
    margin-left: 16px;
    position: relative;
    width: 32px;
    height: 32px;
}

.music-panel-w {
    position: absolute;
    top: -4px;
    right: -4px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.music-panel-w.open {
    background-color: rgba(255, 255, 255, 0.92);
    /*background-color: white*/
}

.hide-panel {
    display: none;
}

.list-panel {
    width: 0px;
    /*flex-basis: 160px;*/
    display: none;
    overflow: hidden;
}

.list-panel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-panel ul li {
    padding: 8px;
    color: rgba(0, 0, 0, 0.87);
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
}

.list-panel ul li:hover {
    background-color: #EBEBEB;
}

.list-panel ul li.current {
    background-color: #e0e0e0;
}

.list-panel ul li:active,
.list-panel ul li:focus {
    color: black;
    background-color: #d4d4d4;
}

.ctrl-group {
    box-sizing: border-box;
    width: 40px;
    padding: 4px;
    max-width: 40px;
    border-radius: 20px;
}

.ctrl-panel {
    display: flex;
    flex-direction: column;
}

.playing {
    animation: rotating 6s linear infinite
}

.index-card {
    display: none;
    z-index: 10;
    box-sizing: border-box;
    position: fixed;
    top: 48px;
    right: 16px;
    padding: 8px;
    border-radius: 8px;
    max-height: 320px;
    width: 196px;
    background-color: rgba(255, 255, 255, 0.95);
    overflow-y: auto
}

@media (max-width: 840px) {
    .head-card-left {
        height: 350px;
    }

    .footer-w {
        flex-direction: column;
    }

    .head-card-right {
        height: 350px;
    }

    .has-image {
        height: 180px;
    }

    .links-ul li {
        width: 50%;
    }


}

@media (min-width: 481px) {
    /*.mdl-layout__content::-webkit-scrollbar {*/
    /*width: 5px;*/
    /*}*/
    /*.mdl-layout__content::-webkit-scrollbar-thumb {*/
    /*background-color: rgba(0, 0, 0, 0.3);*/
    /*}*/
    .article-title-list::-webkit-scrollbar,
    .mdl-layout__drawer::-webkit-scrollbar {
        width: 4px;
    }

    .article-title-list::-webkit-scrollbar-thumb,
    .mdl-layout__drawer::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
    }
}


@media (max-width: 480px) {
    #home2-left-column,
    #home2-right-column {
        width: 100%;
        max-width: 100% !important;
    }

    .head-card-left {
        height: 300px;
        margin: -56px 0 0 0;
        border-radius: 0;
        width: 100%;
    }

    .head-card-right {
        height: 300px;
    }

    .has-image {
        height: 150px;
    }

    .page-content {
        padding-top: 56px;
    }

    .tag-wrapper a {
        padding: 2px 8px;
    }

    .input-group-3 {
        display: unset !important;
    }

    .input-group-3 > * {
        width: 100%;
    }


}

@media (max-width: 400px) {
    .links-ul li {
        width: 100%;
    }
}
